<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
    name="FILE">
    <append>true</append>
    <encoder>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} [%level:%thread] [%logger:%line] - %msg%n
      </pattern>
    </encoder>
    <file>/${LOG_HOME}/${LOG_NAME}.log</file>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>DEBUG</level>
      <level>WARN</level>
      <level>INFO</level>
      <level>ERROR</level>
    </filter>
    <rollingPolicy
      class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>
        /${LOG_HOME}/${LOG_NAME}-%d{yyyy-MM-dd}.%i.log.zip
      </fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>7</maxHistory>
      <totalSizeCap>3GB</totalSizeCap>
    </rollingPolicy>
  </appender>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} [%level:%thread] [%logger:%line] - %msg%n
      </pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>DEBUG</level>
      <level>WARN</level>
      <level>INFO</level>
      <level>ERROR</level>
    </filter>
  </appender>
  <appender class="ch.qos.logback.classic.AsyncAppender" name="ASYNC-STDOUT">
    <!-- no logs are lost. By default, if 80% of the queue is full, the TRACT, DEBUG, INFO level logs are discarded -->
    <appender-ref ref="STDOUT"/>
    <!-- change the default queue depth, this value will affect performance. The default value is 256. -->
    <discardingThreshold>0</discardingThreshold>
    <!-- added this line to print stack information -->
    <includeCallerData>true</includeCallerData>
    <!-- add additional appender, only one at most -->
    <queueSize>512</queueSize>
  </appender>
  <!-- Console output -->
  <appender class="ch.qos.logback.classic.AsyncAppender" name="ASYNC-FILE">
    <!-- no logs are lost. By default, if 80% of the queue is full, the TRACT, DEBUG, INFO level logs are discarded -->
    <appender-ref ref="FILE"/>
    <!-- change the default queue depth, this value will affect performance. The default value is 256. -->
    <discardingThreshold>0</discardingThreshold>
    <!-- added this line to print stack information -->
    <includeCallerData>true</includeCallerData>
    <!-- add additional appender, only one at most -->
    <queueSize>512</queueSize>
  </appender>
  <!-- asynchronous output -->
  <logger level="TRACE" name="org.apache.ibatis"/>

  <logger level="DEBUG" name="java.sql.Connection"/>

  <logger level="DEBUG" name="java.sql.Statement"/>

  <logger level="DEBUG" name="java.sql.PreparedStatement"/>

  <logger level="INFO" name="org.springframework"/>

  <logger level="TRACE"
    name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>

  <logger level="WARN" name="com.netflix"/>
  <logger level="INFO" name="org"/>
  <root level="INFO">
    <appender-ref ref="ASYNC-FILE"/>
    <appender-ref ref="ASYNC-STDOUT"/>
  </root>
  <springProfile name="PROD">
    <root level="INFO">
      <appender-ref ref="ASYNC-FILE"/>
    </root>
  </springProfile>
  <springProfile name="DEV">
    <root level="INFO">
      <appender-ref ref="ASYNC-STDOUT"/>
    </root>
  </springProfile>
  <!--print a list of request paths in the startup log-->
  <springProfile name="TEST">
    <root level="INFO">
      <appender-ref ref="ASYNC-STDOUT"/>
    </root>
  </springProfile>
  <springProperty defaultValue="${user.dir}/logs" name="LOG_HOME"
    scope="context"
    source="logging.path"/>
  <springProperty defaultValue="localhost" name="LOG_NAME" scope="context"
    source="spring.application.name"/>
</configuration>
